/*  */
.add-info {
    width: calc(100% - 20px);
    max-width: 1200px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    user-select: none;
    span {
        width: 85px;
        display: flex;
        align-items: center;

        border: 1px solid #00000080;
        padding: 5px 10px;
        border-radius: 5px;
        margin-left: auto;

        cursor: pointer;
        i {
            font-size: 18px;
            margin-right: 7px;
        }
    }
}

.blury-cnt {
    background-color: #00000080;
    height: calc(100dvh - 62px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    width: 100%;
    top: 62px;
    left: 0;
}

.detail-card {
    display: inline-flex;
    align-items: center;
    max-width: 295px;
    width: 100%;
    padding: 10px;
    margin: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #c4c4c4a2;
    background-color: #fff;
    border-left: 4px solid #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    overflow: hidden;
    .icn {
        margin-right: 15px;
        z-index: 5;
        i {
            font-size: 30px;
        }
    }
    .cnt {
        z-index: 5;
        overflow: hidden;
        p {
            cursor: default;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .call {
        margin-left: auto;
        display: flex;
        align-items: center;
        z-index: 5;
        i {
            font-size: 25px;
            cursor: pointer;
        }
        img {
            height: 25px;
            width: 25px;
            margin: auto 0;
            display: none;
        }
    }
    .progress {
        background-color: #89ff97b8;
        position: absolute;
        height: 100%;
        z-index: 0;
        width: 0%;
        left: 0;
        top: 0;
        transition: width .25s, background-color 3s;
    }
}

.level {
    display: flex;
    overflow: hidden;
    padding: 6px 10px;
    margin: 5px auto 0 10px;
    margin-top: auto;
    outline: 1px solid #878787a2;
    border-left: 5px solid transparent;
    background-color: #ffffffcc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 20px;
        img {
            width: 100%;
            height: 100%;
            min-width: 24px;
            min-height: 24px;
            object-fit: cover;
            border-radius: 50%;
        }
        i {
            font-size: 25px;
        }
    }
    .cntnt {
        display: flex;
        align-items: center;
        p {
            font-weight: bold;
        }
    }
}

.steps {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    min-height: 85px;
    p {
      user-select: none;
      display: inline-block;
      margin: 10px 25px;
    }

    .stepsView {
      display: flex;
      margin: auto;
      overflow-y: auto;
      flex-wrap: nowrap;
      min-width: 300px;
      height: auto;
      justify-content: center;
      p {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        height: 25px;
        width: 25px;
        min-width: 25px;
        min-height: 25px;
        text-align: center;
        border-radius: 50%;
        font-weight: bold;
        cursor: pointer;
      }
    }
}

.dataview {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1235px;
    width: 100%;
    max-height: calc(100% - 60px);
    height: calc(100% - 60px);
    overflow-y: auto;
    justify-content: center;
}

.info-message {
    display: flex;
    padding: 0px 20px 0px 10px;
    max-width: 450px;
    margin: 15px auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    user-select: none;
    .content {
        p {
            margin: 10px 0;
            font-size: 14px;
        }
        .title {
            font-weight: bold;
            font-size: 15px;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        margin-right: 15px;
        padding-top: 10px;
        i {
            font-size: 30px;
        }
    }

    background-color: #00000029;
}

.warn {
    background-color: #ffc8004e;
    outline: 1px solid #ffc800;
    border-left: 5px solid #ffc800;
}

.minimal-action {
    font-size: 14px;
    margin-left: 18px;
    font-weight: lighter;
    outline: 1px solid #4e4e4e79;
    border-radius: 3px;
    padding: 3px 5px;
    cursor: pointer;
    user-select: none;
    i {
        font-size: 15px;
        margin-right: 5px;
    }
}

.report-action {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 20px 10px 20px;
    width: calc(100% - 40px);
    height: auto;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 15px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0px;
        }

        p {
            cursor:pointer;
            font-size:13px;
            display: flex;
            align-items: center;
            width: 100%;
            i {
                font-size:15px;
                margin-right: 7px;
                pointer-events: none;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
        .rotating {
            height: 15px;
            width: 15px;
            display: none;
        }
    }
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 10px 20px;
    width: calc(100% - 40px);
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    p {
        margin: 0 auto;
        font-size: 15px;
        margin-bottom: 4px;
    }
    .tags {
        text-align: center;
        span {
            cursor: default;
            margin: 3px 7px;
            padding: 3px 3px 3px 5px;
            font-size: 12.5px;
            display: inline-block;
            background-color: #00000018;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            outline: #80808093 1px solid;
            border-left: #808080 3px solid;
            i {
                font-weight: bold;
                margin-left: 8px;
                cursor: pointer;
            }
        }
    }
}

.dash-card {
    box-shadow: 5px 3px 3px 0px #c3c3c355;
    background-color: #c3c3c31f;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    user-select: none;
    min-width: 250px;
    margin: 5px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 900px) {
    .info-message {
        max-width: calc(100% - 85px);
    }
}

@media only screen and (max-width: 700px) {
    .actions {
        margin: unset;
        /* width: 100%;
        padding: 5px 0;
        div {
            margin-bottom: 0;
        } */
    }
}

@media only screen and (max-width: 400px) {
    .stepcontainer {
        .info-message {
            max-width: calc(100% - 50px);
        }
    }
    .steps {
        p {
          margin: 10px 20px;
        }
    }
}